<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
		<meta name="mobile-web-app-capable" content="yes">
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.4.5.min.css">
		<link rel="stylesheet" type="text/css" href="css/chromoselector.css">
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="libs/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/nodes.js"></script>
		<script type="text/javascript" src="/pages.js"></script>
		<script type="text/javascript" src="/private_functions.js"></script>
		<script type="text/javascript" src="/homecontrolClient.js"></script>
		<script type="text/javascript" src="libs/chromoselector.min.js"></script>
		<script type="text/javascript" src="libs/jquery.mobile-1.4.5.min.js"></script>
		<title>SME HomeControl</title>
	</head>
	<body>
		{{{body}}}
	</body>
</html>
