<div data-role="page" id="bedroom" data-url="/bedroom" data-theme="b">
	<div data-role="header" data-position="fixed"> 
		<h1 class="TitleHeader">Bedroom</h1>
		<a href="/" data-role="button" data-icon="home" data-iconshadow="true"
		data-direction="reverse" onclick="" data-transition="slide"
		data-iconpos="notext">Home</a>
		<a href="" data-role="button" data-icon="gear" data-iconshadow="true"
		rel="" onclick="" data-transition="slide"
		data-iconpos="notext" class="ui-btn-right">Options</a>
	</div> 
	<div data-role="main" class="ui-content">
		<div class="flip_grid ui-grid-a">
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Addicted_ToggleButton_Relay_Bed_Bed_1_Fav">LED-Stripe Bed</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Addicted_ToggleButton_Relay_Bed_Bed_1_Fav" id="Addicted_ToggleButton_Relay_Bed_Bed_1_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Addicted_ToggleButton_Relay_Bed_Bed_2_Fav">LED-Stripe Mirror</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Addicted_ToggleButton_Relay_Bed_Bed_2_Fav" id="Addicted_ToggleButton_Relay_Bed_Bed_2_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Combined_ToggleButton_Relay_Bed_Bed_5_Fav">Bedside Lamp</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Combined_ToggleButton_Relay_Bed_Bed_5_Fav" id="Combined_ToggleButton_Relay_Bed_Bed_5_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Favorite_ToggleButton_Relay_Bed_Media_1_Fav">TV</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Favorite_ToggleButton_Relay_Bed_Media_1_Fav" id="Favorite_ToggleButton_Relay_Bed_Media_1_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Favorite_ToggleButton_Relay_Bed_Media_2_Fav">BluRay Player</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Favorite_ToggleButton_Relay_Bed_Media_2_Fav" id="Favorite_ToggleButton_Relay_Bed_Media_2_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Favorite_ToggleButton_Relay_Bed_Media_3_Fav">Apple TV</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Favorite_ToggleButton_Relay_Bed_Media_3_Fav" id="Favorite_ToggleButton_Relay_Bed_Media_3_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Combined_ToggleButton_Relay_Bed_Bed_1_Fav">Power TENS/EMS</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Combined_ToggleButton_Relay_Bed_Bed_1_Fav" id="Combined_ToggleButton_Relay_Bed_Bed_1_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Combined_ToggleButton_Relay_Bed_Bed_4_Fav">Power Notebook</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Combined_ToggleButton_Relay_Bed_Bed_4_Fav" id="Combined_ToggleButton_Relay_Bed_Bed_4_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
		</div>
		
		<fieldset data-role="collapsible">
			<legend>LED Control</legend>
			<div data-role="fieldcontain" class="flip_slider">
				<label for="Sliders_Dim_LEDStipeBed_Bed_Bed" class="slider_label">Dim Bed</label>
				<input type="range" name="Sliders_Dim_LEDStipeBed_Bed_Bed" id="Sliders_Dim_LEDStipeBed_Bed_Bed" min="0" max="100" value="50">
			</div>
			<div data-role="fieldcontain" class="ui-field-contain">
				<label for="Sliders_Dim_LEDStipeMirror_Bed_Bed" class="slider_label">Dim Mirror</label>
				<input type="range" name="Sliders_Dim_LEDStipeMirror_Bed_Bed" id="Sliders_Dim_LEDStipeMirror_Bed_Bed" min="0" max="100" value="50">
			</div>
			<div class="flip_grid ui-grid-b">
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Color_DefaultButton_LEDStipeBed_Bed_Bed_1">Bed Colors</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<button name="Color_DefaultButton_LEDStipeBed_Bed_Bed_White" id="Color_DefaultButton_LEDStipeBed_Bed_Bed_White" class="LED_Stipe_white ui-btn ui-btn-inline default_color_button"></button>
					<button name="Color_DefaultButton_LEDStipeBed_Bed_Bed_1" id="Color_DefaultButton_LEDStipeBed_Bed_Bed_1" class="Color_DefaultButton_LEDStipeBed_Bed_Bed_1 ui-btn ui-btn-inline default_color_button"></button>
					</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Color_DefaultButton_LEDStipeMirror_Bed_Bed_1">Mirror Colors</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<button name="Color_DefaultButton_LEDStipeMirror_Bed_Bed_White" id="Color_DefaultButton_LEDStipeMirror_Bed_Bed_White" class="LED_Stipe_white ui-btn ui-btn-inline default_color_button"></button>
					<button name="Color_DefaultButton_LEDStipeMirror_Bed_Bed_1" id="Color_DefaultButton_LEDStipeMirror_Bed_Bed_1" class="Color_DefaultButton_LEDStipeMirror_Bed_Bed_1 ui-btn ui-btn-inline default_color_button"></button>
				</div>
			
			
				<div class="flip_grid_label ui-block-a">
					<label class="label_color_sources" for="Color_Source_Bed_Bed">Color Source</label>
				</div>
				<div class="Color_Sources_grid ui-block-b">
					<select name="Color_Source_Bed_Bed" id="Color_Source_Bed_Bed" data-mini="true">
						<option value="1">LED-Stripe Bed</option>
						<option value="2">LED-Stripe Mirror</option>
						<option value="3">LED Forest</option>
						<option value="4">LED Forest 1</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					
				</div>
				<div class="Color_Source_grid ui-block-b">
					<input type="text" id="Color_Control_Bed_Bed" name="Color_Control_Bed_Bed" data-mini="true" value="rgb(255,020,000)"/>
				</div>
				
				
			</div>
			
		</fieldset>
		
		<fieldset data-role="collapsible">
			<legend>Bed Relay Control</legend>
			<div class="flip_grid ui-grid-c">
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Combined_ToggleButton_Relay_Bed_Bed_1">Power TENS/EMS</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Combined_ToggleButton_Relay_Bed_Bed_1" id="Combined_ToggleButton_Relay_Bed_Bed_1" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Combined_ToggleButton_Relay_Bed_Bed_2">Power LED Stripes</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Combined_ToggleButton_Relay_Bed_Bed_2" id="Combined_ToggleButton_Relay_Bed_Bed_2" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="ToggleButton_Relay_Bed_Bed_3">Defekt</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="ToggleButton_Relay_Bed_Bed_3" id="ToggleButton_Relay_Bed_Bed_3" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Addicted_ToggleButton_Relay_Bed_Bed_4">Power Notebook</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Addicted_ToggleButton_Relay_Bed_Bed_4" id="Addicted_ToggleButton_Relay_Bed_Bed_4" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Combined_ToggleButton_Relay_Bed_Bed_5">Bedside Lamp</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Combined_ToggleButton_Relay_Bed_Bed_5" id="Combined_ToggleButton_Relay_Bed_Bed_5" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="ToggleButton_Relay_Bed_Bed_6">Lava Lamp</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="ToggleButton_Relay_Bed_Bed_6" id="ToggleButton_Relay_Bed_Bed_6" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="ToggleButton_Relay_Bed_Bed_7">Free</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="ToggleButton_Relay_Bed_Bed_7" id="ToggleButton_Relay_Bed_Bed_7" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Addicted_ToggleButton_Relay_Bed_Bed_8">Power Notebook HDMI</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Addicted_ToggleButton_Relay_Bed_Bed_8" id="Addicted_ToggleButton_Relay_Bed_Bed_8" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
			</div>
		</fieldset>
	
		<fieldset data-role="collapsible">
			<legend>Media Relay Control</legend>
			<div class="flip_grid ui-grid-d">
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Combined_ToggleButton_Relay_Bed_Media_1">TV</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Combined_ToggleButton_Relay_Bed_Media_1" id="Combined_ToggleButton_Relay_Bed_Media_1" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Combined_ToggleButton_Relay_Bed_Media_2">BluRay Player</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Combined_ToggleButton_Relay_Bed_Media_2" id="Combined_ToggleButton_Relay_Bed_Media_2" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Combined_ToggleButton_Relay_Bed_Media_3">Apple TV</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Combined_ToggleButton_Relay_Bed_Media_3" id="Combined_ToggleButton_Relay_Bed_Media_3" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="ToggleButton_Relay_Bed_Media_4">Raspberry Pi</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="ToggleButton_Relay_Bed_Media_4" id="ToggleButton_Relay_Bed_Media_4" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
			</div>
		</fieldset>
	
	</div>
	<div data-role="footer" data-position="fixed" data-id="footer">
		<div data-role="navbar">
			<ul>
				<li><a href="#" id="Temperatur_Bed_Bed" name="Temperatur_Bed_Bed">Temperatur</a></li>
				<li><a href="#" id="Humidity_Bed_Bed" name="Humidity_Bed_Bed">Luftfeuchtigkeit</a></li>
			</ul>
		</div>
		<a href="" name="Init_Bed" id="Init_Bed" class="init_icon_navbar ui-btn-left ui-btn ui-shadow ui-corner-all ui-icon-alert ui-shadow-icon ui-state-disabled ui-btn-icon-notext"></a>
		<a href="" name="Refresh_Bed" id="Refresh_Bed" class="init_icon_navbar ui-btn-right ui-btn ui-shadow ui-corner-all ui-icon-refresh ui-shadow-icon ui-btn-icon-notext">Not Initialized</a>
		<h4>&copy; 2015 Stephan Merz</h4>
	</div>
</div>
	
</div>
