<div data-role="page" id="home" data-url="/" data-theme="b">
	<div data-role="header" data-position="fixed"> 
		<h1 class="TitleHeader">Home-Control</h1>
		<a href="/" id="homeoption" data-role="button" data-icon="gear" data-iconshadow="true" onclick="" data-transition="slide" data-iconpos="notext" class="ui-btn-right">Options</a>
	</div> 
	<div data-role="main" class="ui-content">
		<ul data-role="listview" data-inset="true">
			<li><a href="/livingroom" data-transition="slide" rel="">Livingroom</a></li>
			<li><a href="/bedroom" data-transition="slide" rel="">Bedroom</a></li>
			<li><a href="/floor" data-transition="slide" rel="">Floor</a></li>
			<li><a href="/vibcontrol" data-transition="slide" rel="">Vib-Control</a></li>
		</ul>
    </div>
	<div data-role="footer" data-position="fixed">
		<h4>&copy; 2015 Stephan Merz</h4>
	</div>
</div>