<div data-role="page" id="livingroom" data-url="/livingroom" data-theme="b">
	<div data-role="header" data-position="fixed"> 
		<h1 class="TitleHeader">Livingroom</h1>
		<a href="/" data-role="button" data-icon="home" data-iconshadow="true" data-direction="reverse" onclick="" data-transition="slide" data-iconpos="notext">Home</a>
		<a href="livingroomOptions" data-role="button" data-icon="gear" data-iconshadow="true" rel="" onclick="" data-transition="slide" data-iconpos="notext" class="ui-btn-right">Options</a>
	</div> 
	<div data-role="main" class="ui-content">
		<div class="flip_grid ui-grid-a">
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Combined_ToggleButton_Relay_Liv_Room_1_Fav">LED-Stripe</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Combined_ToggleButton_Relay_Liv_Room_1_Fav" id="Combined_ToggleButton_Relay_Liv_Room_1_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Combined_ToggleButton_Relay_Liv_Room_4_Fav">Charger</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Combined_ToggleButton_Relay_Liv_Room_4_Fav" id="Combined_ToggleButton_Relay_Liv_Room_4_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Combined_ToggleButton_Relay_Liv_Room_3_Fav">Charger IPhone</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Combined_ToggleButton_Relay_Liv_Room_3_Fav" id="Combined_ToggleButton_Relay_Liv_Room_3_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<hr>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Combined_ToggleButton_Relay_Liv_Media_1_Fav">TV & Sound</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Combined_ToggleButton_Relay_Liv_Media_1_Fav" id="Combined_ToggleButton_Relay_Liv_Media_1_Fav" data-role="flipswitch" value="0">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Addicted_ToggleButton_Relay_Liv_Media_4_Fav">BluRay Player</label>
			</div>	
			<div class="flip_grid_block ui-block-b">
				<select name="Addicted_ToggleButton_Relay_Liv_Media_4_Fav" id="Addicted_ToggleButton_Relay_Liv_Media_4_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Addicted_ToggleButton_Relay_Liv_Media_5_Fav">Apple TV</label>
			</div>	
			<div class="flip_grid_block ui-block-b">
				<select name="Addicted_ToggleButton_Relay_Liv_Media_5_Fav" id="Addicted_ToggleButton_Relay_Liv_Media_5_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<hr>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="Combined_ToggleButton_Relay_Liv_Aqua_1_Fav">Aquarium Lights</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="Combined_ToggleButton_Relay_Liv_Aqua_1_Fav" id="Combined_ToggleButton_Relay_Liv_Aqua_1_Fav" data-role="flipswitch" value="1">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
		</div>
	
		<fieldset data-role="collapsible">
			<legend>Room Control</legend>
			<p style="font-style:italic; font-weight: bold;">Relay Control</p>
			<hr style="margin-bottom: 15px;">
			<div class="flip_grid ui-grid-c">
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Combined_ToggleButton_Relay_Liv_Room_1">LED-Stripe</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Combined_ToggleButton_Relay_Liv_Room_1" id="Combined_ToggleButton_Relay_Liv_Room_1" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="ToggleButton_Relay_Liv_Room_2">Raspberry Pi</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="ToggleButton_Relay_Liv_Room_2" id="ToggleButton_Relay_Liv_Room_2" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Combined_ToggleButton_Relay_Liv_Room_3">Charger IPhone</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Combined_ToggleButton_Relay_Liv_Room_3" id="Combined_ToggleButton_Relay_Liv_Room_3" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Combined_ToggleButton_Relay_Liv_Room_4">Charger</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Combined_ToggleButton_Relay_Liv_Room_4" id="Combined_ToggleButton_Relay_Liv_Room_4" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
			</div>
			<p style="font-style:italic; font-weight: bold;">Led Control</p>
			<hr style="margin-bottom: 15px;">
			<div data-role="fieldcontain" class="flip_slider">
				<label for="Slider_Dim_LEDStipe_Liv_Room" class="slider_label">Dim</label>
				<input type="range" name="Slider_Dim_LEDStipe_Liv_Room" id="Slider_Dim_LEDStipe_Liv_Room" min="0" max="100" value="50">
			</div>
			<div class="flip_grid ui-grid-b">
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Color_DefaultButton_Liv_Room_01">Colors</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<button name="Color_DefaultButton_Liv_Room_White" id="Color_DefaultButton_Liv_Room_White" class="LED_Stipe_white ui-btn ui-btn-inline default_color_button"></button>
					<button name="Color_DefaultButton_Liv_Room_01" id="Color_DefaultButton_Liv_Room_01" class="Color_DefaultButton_Liv_Room_01 ui-btn ui-btn-inline default_color_button"></button>
				</div>
				<div class="flip_grid_label ui-block-a">
					
				</div>
				<div class="Color_Source_grid ui-block-b">
					<input type="text" id="Color_Control_Liv_Room" name="Color_Control_Liv_Room" data-mini="true" value="rgb(255,050,000)"/>
				</div>
			</div>
		</fieldset>
				
		<fieldset data-role="collapsible">
			<legend>Media Control</legend>
			<div class="flip_grid ui-grid-b">
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Addicted_ToggleButton_Relay_Liv_Media_1">TV</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Addicted_ToggleButton_Relay_Liv_Media_1" id="Addicted_ToggleButton_Relay_Liv_Media_1" data-role="flipswitch" value="0">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Addicted_ToggleButton_Relay_Liv_Media_2">Sound</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Addicted_ToggleButton_Relay_Liv_Media_2" id="Addicted_ToggleButton_Relay_Liv_Media_2" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Addicted_ToggleButton_Relay_Liv_Media_3">Subwoofer</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Addicted_ToggleButton_Relay_Liv_Media_3" id="Addicted_ToggleButton_Relay_Liv_Media_3" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Addicted_ToggleButton_Relay_Liv_Media_4">BluRay Player</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Addicted_ToggleButton_Relay_Liv_Media_4" id="Addicted_ToggleButton_Relay_Liv_Media_4" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Addicted_ToggleButton_Relay_Liv_Media_5">Apple TV</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Addicted_ToggleButton_Relay_Liv_Media_5" id="Addicted_ToggleButton_Relay_Liv_Media_5" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Addicted_ToggleButton_Relay_Liv_Media_6">Digital Output</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Addicted_ToggleButton_Relay_Liv_Media_6" id="Addicted_ToggleButton_Relay_Liv_Media_6" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="ToggleButton_Relay_Liv_Media_7">Free</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="ToggleButton_Relay_Liv_Media_7" id="ToggleButton_Relay_Liv_Media_7" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
			
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="ToggleButton_Relay_Liv_Media_8">Free</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="ToggleButton_Relay_Liv_Media_8" id="ToggleButton_Relay_Liv_Media_8" data-role="flipswitch" value="1">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
			</div>
		</fieldset>
		
		<fieldset data-role="collapsible">
			<legend>Aquarium Control</legend>
			<p style="font-style:italic; font-weight: bold;">Relay Control</p>
			<hr style="margin-bottom: 15px;">
			<div class="flip_grid ui-grid-b">
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Addicted_ToggleButton_Relay_Liv_Aqua_1">Neon Light</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Addicted_ToggleButton_Relay_Liv_Aqua_1" id="Addicted_ToggleButton_Relay_Liv_Aqua_1" data-role="flipswitch" value="0">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Addicted_ToggleButton_Relay_Liv_Aqua_2">LED Light</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Addicted_ToggleButton_Relay_Liv_Aqua_2" id="Addicted_ToggleButton_Relay_Liv_Aqua_2" data-role="flipswitch" value="0">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Addicted_ToggleButton_Relay_Liv_Aqua_3">CO2 Power</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="Addicted_ToggleButton_Relay_Liv_Aqua_3" id="Addicted_ToggleButton_Relay_Liv_Aqua_3" data-role="flipswitch" value="0">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="ToggleButton_Relay_Liv_Aqua_4">Eheim Filter</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="ToggleButton_Relay_Liv_Aqua_4" id="ToggleButton_Relay_Liv_Aqua_4" data-role="flipswitch" value="0">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="ToggleButton_Relay_Liv_Aqua_5">Heater</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<select name="ToggleButton_Relay_Liv_Aqua_5" id="ToggleButton_Relay_Liv_Aqua_5" data-role="flipswitch" value="0">
						<option value="1">Aus</option>
						<option value="0">An</option>
					</select>
				</div>
			</div>
			<p style="font-style:italic; font-weight: bold;">Led Control</p>
			<hr style="margin-bottom: 15px;">
			<div data-role="fieldcontain" class="flip_slider">
				<label for="Slider_Dim_LEDStipe_Liv_Aqua" class="slider_label">Dim</label>
				<input type="range" name="Slider_Dim_LEDStipe_Liv_Aqua" id="Slider_Dim_LEDStipe_Liv_Aqua" min="0" max="100" value="50">
			</div>
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="ToggleButton_NightLight_Liv_Aqua">Night Light</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="ToggleButton_NightLight_Liv_Aqua" id="ToggleButton_NightLight_Liv_Aqua" data-role="flipswitch" value="0">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			
			
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="AniTriggerTime">Animation Trigger</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<input style="margin-top: -10px;" name="AniTriggerTime" id="AniTriggerTime" data-role="input" value="9"></input>
			</div>
			
			
			<div class="flip_grid_label ui-block-a">
				<label class="flip_label" for="ThunderstormAnim_Liv_Aqua">Thunderstorm</label>
			</div>
			<div class="flip_grid_block ui-block-b">
				<select name="ThunderstormAnim_Liv_Aqua" id="ThunderstormAnim_Liv_Aqua" data-role="flipswitch" value="0">
					<option value="1">Aus</option>
					<option value="0">An</option>
				</select>
			</div>
			<div class="flip_grid ui-grid-b">
				<div class="flip_grid_label ui-block-a">
					<label class="flip_label" for="Color_DefaultButton_Liv_Aqua_01">Colors</label>
				</div>
				<div class="flip_grid_block ui-block-b">
					<button name="Color_DefaultButton_Liv_Aqua_White" id="Color_DefaultButton_Liv_Aqua_White" class="LED_Stipe_white ui-btn ui-btn-inline default_color_button"></button>
					<button name="Color_DefaultButton_Liv_Aqua_01" id="Color_DefaultButton_Liv_Aqua_01" class="Color_DefaultButton_Liv_Aqua_01 ui-btn ui-btn-inline default_color_button"></button>

				</div>
				<div class="flip_grid_label ui-block-a">
					
				</div>
				<div class="Color_Source_grid ui-block-b">
					<input type="text" id="Color_Control_Liv_Aqua" name="Color_Control_Liv_Aqua" data-mini="true" value="rgb(255,255,255)"/>
				</div>
			</div>
			<div data-role="popup" id="customDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;" data-title="Are you sure?" class="ui-content">
				<div data-role="header" data-theme="a">
					<h1>PH-Calibration</h1>
				</div>
				<div role="main1" class="ui-content">
					<h3 class="ui-title">Wollen Sie die PH-Kalibrierung durchführen?</h3>
					<p class="customDialogDesc">???</p>
					<a href="#" class="customDialogOption1" data-role="button" data-theme="b" data-rel="back">Calibrate</a>
					<a href="#" class="customDialogOption2" data-role="button" data-theme="b" data-rel="back">Cancel</a> 
				</div>
			</div>
			<div data-role="popup" id="SuccessCalibration" class="ui-content" style="max-width:300px">
		    	<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
				<p>Kalibrierung erfolgreich abgeschlossen.</p>
			</div>
			<div data-role="popup" id="FailCalibration" class="ui-content" style="max-width:300px">
		    	<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
				<p>Fehler bei der Kalibrierung.</p>
			</div>
			<div data-role="content">
				<INPUT type="button" id="confirm" value="Calibration" />
			</div>
		</fieldset>
	</div>
	<div data-role="footer" data-position="fixed" data-id="footer">
		<div data-role="navbar">
			<ul>
				<li><a href="#" style="height: 10px;" id="Temperatur_Liv_Room" name="Temperatur_Liv_Room">Temperatur</a></li>
				<li><a href="#" style="height: 10px;" id="Humidity_Liv_Room" name="Humidity_Liv_Room">Luftfeuchtigkeit</a></li>
			</ul>
			<ul>
				<li><a href="#" style="height: 10px; padding-bottom: 15px; padding-top: 5px;" id="Temperatur_Liv_Aqua" name="Temperatur_Liv_Aqua">Aquarium Temperatur</a></li>
				<li><a href="#" style="height: 10px; padding-bottom: 15px; padding-top: 5px;" id="PH_Liv_Aqua" name="PH_Liv_Aqua">Aquarium PH-Wert</a></li>
			</ul>
		</div>
		<a href="" style="margin-top: 63px !important;" name="Init_Liv" id="Init_Liv" class="init_icon_navbar ui-btn-left ui-btn ui-shadow ui-corner-all ui-icon-alert ui-shadow-icon ui-state-disabled ui-btn-icon-notext"></a>
		<a href="" style="margin-top: 63px !important;" name="Refresh_Liv" id="Refresh_Liv" class="init_icon_navbar ui-btn-right ui-btn ui-shadow ui-corner-all ui-icon-refresh ui-shadow-icon ui-btn-icon-notext">Not Initialized</a>
		<h4>&copy; 2015 Stephan Merz</h4>
	</div>
	
	
		
</div>
	
</div>
