<div data-role="page" id="megatest" data-url="/megatest" data-theme="b">
	<div data-role="header"> 
		<h1 class="TitleHeader">MEGA Test</h1>
		<a href="/" data-role="button" data-icon="home" data-iconshadow="true"
        data-direction="reverse" onclick="" data-transition="slide"
        data-iconpos="notext">Home</a>
		<a href="/" data-role="button" data-icon="gear" data-iconshadow="true"
        data-direction="reverse" onclick="" data-transition="slide"
        data-iconpos="notext" class="ui-btn-right">Options</a>
	</div> 
	<div data-role="main" class="ui-content">
		<div data-role="fieldcontain">
			<label class="flip_label" for="Mega_Test">MEGA Test:</label>
			<select name="Mega_Test" id="Mega_Test" data-role="flipswitch" value="0">
				<option value="1">Aus</option>
				<option value="0">An</option>
			</select>
		</div>
    </div>
	<div data-role="footer" data-position="fixed" data-id="footer">
		<a href="" name="init_megatest" id="init_megatest" class="init_icon ui-btn-left ui-btn ui-shadow ui-corner-all ui-icon-alert ui-shadow-icon ui-state-disabled ui-btn-icon-notext"></a>
		<a href="" name="refresh_megatest" id="refresh_megatest" class="init_icon ui-btn-right ui-btn ui-shadow ui-corner-all ui-icon-refresh ui-shadow-icon ui-btn-icon-notext">Not Initialized</a>
		<h4>&copy; 2015 Stephan Merz</h4>
	</div>
</div>
	
